*{margin: 0;padding: 0;}
body{background-color: #dcdcdc;font-family: tahoma;overflow-y: hidden;overflow-x: hidden;}
#sidebar{width: 472px;height: 890px;background-image: url(./img/sidebar.png);position: relative;display: inline-block;position: fixed;top:0px;display: inline-block;}
#sidebar ul{list-style: none;color: white;font-family: Tahoma;margin-top: 200px;margin-left: 78px;}
#sidebar ul li{margin-top: 46px;cursor: pointer;}
#sidebar ul li:hover{color: #12b8ce;}
.linka{text-decoration: none;color:white;}
.managetb{position: relative;display: inline-block;top: -750;left: 580px;background-color: white;}
a{color: #ea4541;}
#form1{position: relative;left: 800px;background-color: white;width: 380px;height: 575px;border-radius: 35px;box-shadow: 0px 0px 20px gray;top: 80px;font-size: 40px;color: olive;padding-top: 25px;padding-left: 15px;}
#btn{color: white;background-color: olive;width: 350px;height: 35px;border: none;cursor: pointer;margin-top: 400px;}
#btn:hover{background-color: #606000;}